doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FAVORITES
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        main
            h1 HELLO ADMIN
            form(action="" method="POST")
                label Offer Title: 
                input(type="text" name="")
                label Company name: 
                input(type="text" name="")
                label Location: 
                input(type="text" name="")
                label Experience required: 
                input(type="text" name="")
                label Contract Type: 
                input(type="text" name="")
                label Work schedule: 
                input(type="text" name="")
                label Salary: 
                input(type="text" name="")
                label Description: 
                input(type="text" name="")
        include ./footer
                