doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FindJobs
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        header   
            nav                      
                a.button(href="/users/logout" id="logOutButton" class="button") LOG OUT
        main
            section
                h1 HELLO ADMIN
                form(action="/api/offers" class="signUp-form croffadm" method="POST")
                    label Offer Title: 
                    input(type="text" name="title")
                    label Company name: 
                    input(type="text" name="companyName")
                    label Location: 
                    input(type="text" name="location")
                    label Experience required: 
                    input(type="text" name="experience")
                    label Contract Type: 
                    input(type="text" name="contract_type")
                    label Work schedule: 
                    input(type="text" name="work_schedule")
                    label Salary: 
                    input(type="text" name="salary")
                    label Description: 
                    textarea(name="description", cols="45", rows="12") 
                    input(type="submit" value="Create Offer" class="button") 
            section 
            include ./admin_getOffers
        script(src="../scripts.js")
        include ./footer
                