doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SIGN UP
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        header
            nav 
                img(src="/assets/logo.png", alt="logo" id="logoNav")
        main 
            h1 SIGN UP 
            form(action="/users/signup" class="signUp-form" id="signUp-form" onsubmit="return validateForm()")
                label Name:
                input(type="text" placeholder="your name" name="user_name")
                label Surname:
                input(type="text" placeholder="your surname" name="user_surname")
                label City:
                input(type="text" placeholder="your city" name="user_city")
                label Email:
                input(type="email" placeholder="your email" name="user_email")
                label Password:
                input(type="password" placeholder="your password" name="user_password") 
                label Reapeat your password:
                input(type="password" placeholder="repeat password" name="repeat_password") 
                input(type="submit" value="Enter" class="button") 
        //- script.
        //-     function validateForm() {   //VALIDACIÓN FORMULARIO SIGNUP
        //-         let userName = document.querySelector('input[name="user_name"]');
        //-         let userSurname = document.querySelector('input[name="user_surname"]');
        //-         let city = document.querySelector('input[name="user_city"]');
        //-         let email = document.querySelector('input[name="user_email"]');
        //-         let password = document.querySelector('input[name="user_password"]');
        //-         let repeatedPassword = document.querySelector('input[name="repeat_password"]');
        //-         let regexName = /^(?=.*[a-zA-ZáéíóúÁÉÍÓÚñÑ'-]+).{2,}$/
        //-         let regexEmail = /^[A-Za-z0-9_.]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        //-         let regexPassword = /^(?=.*[a-zA-Z])(?=.*\d).{6,}$/;

        //-         let isValid = true;
        //-         // Validar nombre
        //-         if (!regexName.test(userName)) {    
        //-             alert("Invalid name format");
        //-             return;
        //-         }
        //-         // Validar apellido
        //-         if (!regexName.test(userSurname)) {    
        //-             alert("Invalid surname format");
        //-             return;
        //-         }
        //-         // Validar ciudad
        //-         if (city.value === "" || city.value === " ") {
        //-             city.classList.add("error");
        //-             isValid = false;
        //-         } else {
        //-             city.classList.remove("error");
        //-         }
        //-         // Validar email
        //-         if (!regexEmail.test(email)) {    
        //-             alert("Invalid name format");
        //-             return;
        //-         }
        //-         // Validar contraseña
        //-          if (!passwordRegex.test(password)) {
        //-             alert("Invalid password format. It should have at least 6 characters and include letters and numbers.");
        //-             return;
        //-         }
        //-         if(password != repeatedPassword){
        //-             alert("Repeated password did not match with the first one.")
        //-             return;
        //-         }
        //-         console.log('formulario validado')
        //-         return isValid;
        //-     }
        include ./footer.pug
