footer
    div(class="footer_containers")
        p Are you a company? Contact us through our social networks or call us at 900 12 34 56 Monday to Thursday from 9 a.m. to 6 p.m. Friday from 9 a.m. to 3 p.m.
        p Follow us!
    div(class="icons_footer")
        //--iconos de redes sociales.
        img(src="/assets/instagram.png", alt="instagram")
        img(src="/assets/facebook.png", alt="facebook")
        img(src="/assets/twitter.png", alt="twitter")
        img(src="/assets/youtube.png", alt="youtube")
        img(src="/assets/linkedin.png", alt="linkedin")
    div(class="footer_containers")
        p Copyright (c) 2023 All Rights Reserved
        p This product is protected by copyright and distributed under licenses restricting copying, distribution.