header    
    nav
        div(id="nav_superior")
            div(id="userBar")                       
                //-  nombre e img de usuario aquí//
            img(src="public/assets/ham_menu.png", alt="menu", id="menu_icon")
            button(id="logOutButton") LOG OUT
        div(id="menu") 
            //- ul(class="menu_ul")  descomentar y probar en caso de que la función en JS no funcione
            //- meter ancors desde el DOM en scripts al presionar menu_icon//
