header    
    nav
        div(id="nav_superior")
            div(id="userBar")                       
                
            //- meter nombre e img de usuario //
            
            img(src="public/assets/ham_menu.png", alt="menu", id="menu_icon")

            button(id="logOutButton") LOG OUT
        div(id="menu")
            ul(class="menu_ul")
            //- meter ancors desde el DOM en scripts al presionar menu_icon//
