header    
    nav                      
        a(href="/users/profile")
            img( src="/assets/user.png", alt="user photo", class="header_icons")
        div(class="hamicon-container")
            img(src="/assets/ham_menu.png", alt="menu",  class="header_icons", id="menu_icon")
        a.button(href="/users/logout" id="logOutButton" class="button") LOG OUT
    div(id="menu") 