header    
    nav                      
        img(src="/assets/user.png", alt="user photo", class="header_icons")
        img(src="/assets/ham_menu.png", alt="menu",  class="header_icons", id="menu_icon")
        button(id="logOutButton" class="button") LOG OUT
    //-- div(id="menu") 
            //- ul(class="menu_ul")  descomentar y probar en caso de que la función en JS no funcione
            //- meter ancors desde el DOM en scripts al presionar menu_icon//
