doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HOME
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        include ./header_out.pug
        main
            div(class="logo_wrapper")
                img(src="../assets/logo.png", alt="logo" class="main_logo")
                h1 FINDJOBS
                
            form(action="/api/search" method="post" class="search-form" id="search-form")
                input(type="text" placeholder="Position" name="position")
                input(type="text" placeholder="City" name="location") 
                input(type="submit" value="Search" class="button") 
        script(src="../scripts.js")
        include ./footer.pug
            