doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LOG IN
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        header
            nav
                a(href="/" class="header_icons") 
                    img(src="/assets/logo.png", class="header_icons", alt="logo" id="logoNav")
        main 
            h1 LOG IN 
            form(action="/users/auth/login" class="search-form" id="search-form" method="POST")
                input(type="email" placeholder="your email" name="email")
                input(type="password" placeholder="your password" name="password") 
                input(type="submit" value="Enter" class="button") 
            div(class="parabtn-container")
                h3 Don't you have an account yet?
                a(href="/create-account" class="button mainbtns") Create an account
        include ./footer.pug
