doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PROFILE
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        include ./header_in.pug
        main
            section
                h1 YOUR PROFILE
                div(class="profile_info")
                    p(Class="objectKey") Name
                    p(Class="objectValue") #{name}
                    p(Class="objectKey") Surname
                    p(Class="objectValue") #{surname}
                    p(Class="objectKey") Email
                    p(Class="objectValue") #{email}
                    p(Class="objectKey") City
                    p(Class="objectValue") #{city}
        script(src="../scripts.js")
        include ./footer.pug