doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FAVORITES
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        include ./header_in.pug
        main
            section 
                h1 MY FAVORITE JOB OFFERS
                div(class="parabtn-container")
                    p Don't have any offer here yet. Begin by searching a position.
                    button(class="button mainbtns") let's find a job
        script(src="../scripts.js")
        include ./footer.pug