@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Rubik:ital,wght@1,500&display=swap');

:root{
    --main-teal-color: #00D09C;
    --main-grey-color: #787777;
    --main-black-color:#262626;
    --main-white-color: rgb(233, 233, 233);
    
}


/* MAIN TAGS  -----------------------------------------------------------------------------  */
body {
    margin:0;
    box-sizing: border-box;
    background-color: var(--main-white-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    padding: 2% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main-grey-color);
}
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
}
a{
    text-decoration: none;
    width: 15%;
}
main {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
section{
    width: 95%;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--main-grey-color);
    margin: 2.5px 0 5px;
}
footer {
    padding: 3% 4% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--main-grey-color);
    margin-top: auto;
}

/* SEARCH FORM -------------------------------------------------------------- */
.search-form {
    margin: 5vw auto;
    margin: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 15vh;
}
.search-form > input[type="text"], .signUp-form > input[type="text"] , input[type="email"], input[type="password"]{
    padding: 2%;
    padding-left: 3%;
    width: 80%;
    border: 1vw solid rgb(33, 33, 33);
    border-radius: 5vw 5vw;
    font-size: 5vw;
    margin-bottom: 3%;
}
/*  SIGN UP FORM       ---------------------------------------------------------- */
.signUp-form{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.signUp-form > input[type="text"] ,.signUp-form > input[type="email"], .signUp-form >input[type="password"]{
margin-left: 7%;
}
.signUp-form > input[type="submit"]{
    margin: 8px auto;

}


/*  BUTTONS  -------------------------------------------------------------------------------- */
nav > .button {
    width: 30%;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button {
    width: 60%;
    padding: 2%;
    border: 1vw solid var(--main-teal-color);
    background-color: #262626;
    color: #ffffff;
    border-radius: 2vw 2vw;
    font-size: 5vw;
}
.button:hover{
    background-color: var(--main-teal-color);
    color: white;
    box-shadow: 0 0px 10px -2px white;
    border-color: var(--main-black-color);
    font-weight: 600;
}
input[type="submit"]:hover, .mainbtns:hover{
    box-shadow: 0 0px 10px 0px var(--main-grey-color);
    cursor: pointer;
}
.header_icons{
    cursor: pointer;
    width: 100%;
}
.hamicon-container{
    width: 15%;
}

/* LOGO HOME  --------------------------------------------------------------------------------- */
.main_logo {
    width: 30%;
}
.logo_wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--main-teal-color);
    font-style: italic;
    width: 90%;
    margin-bottom: .9em;
    margin-top: .9em;
}
.logo_wrapper > h1 {
    font-family: "Moirai One";
    font-size: 10vw;
    margin: 6px 0;
}
#logoNav{
    width: 50px;
}

/* FOOTER ----------------------------------------------------------------------------------- */
footer > div > p {
    font-size: 4vw;
    width: 90%;
    color: white;
    text-align: justify;
    margin: 2px 0 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer_containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons_footer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 6px 0;
}
.icons_footer > img{
    width: 12%;
}
/* ----------------------  CONTAINERS  DEL  MAIN ---------------------------------------- */
.parabtn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vw;
}
.search_info{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius:5vw 5vw;

}
.search_info > h3{
    margin-bottom: 2px;
    padding-left: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#search_inputValues{
    display: flex;
    justify-content: space-around;
    margin: 1.5px 0;
    color: #ffffff;
}
#search_inputValues > p{
    background-color: var(--main-grey-color);
    width: 40%;
    text-align: center;
    border-radius: 5vw 5vw;
    padding: 2.3vw 0;
}
.article_offer{
    margin-top: 3vw;
    padding: 1.3vw 2vw 1.2vw 2.8vw;
    background-color: #ffffff;
    border-radius: 5vw 5vw;
}
.article_offer > h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3px;
}
.article_offer:last-child{
    text-align: justify;
}
.dataOffer{
    display: flex;
    flex-direction: column;
}
.dataOffer > p {
    margin: 6px 0;
}
.profile_info{
    padding-left: 10%;
}

/* -------------------------------- */

.objectKey{
    border-bottom: #00D09C 1.4px solid;
    margin-bottom: 2px;
    width: 40%;
    color: var(--main-grey-color);
    font-weight: 700;
}
.objectValue{
    margin-top: 9px;
    padding: 0 0 0  20px;
}