@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Rubik:ital,wght@1,500&display=swap');

:root{
    --main-teal-color: #00D09C;
    --main-grey-color: #646464;
    --main-black-color:#262626;
}


/* MAIN TAGS  -----------------------------------------------------------------------------  */
body {
    margin:0;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    padding: 2% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #646464;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
}
main {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
section{
    width: 85%;
}
footer {
    padding: 3% 4% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--main-grey-color);
    margin-top: auto;
}

/* SEARCH FORM -------------------------------------------------------------- */
.search-form {
    margin: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 15vh;
}
.search-form > input[type="text"] {
    padding: 2%;
    padding-left: 3%;
    width: 70%;
    border: 1vw solid rgb(33, 33, 33);
    border-radius: 5vw 5vw;
    font-size: 5vw;
    margin-bottom: 3%;
}

/* .search-form > input[type="submit"] {
    width: 60%;
    border: 2px solid black;
    border-radius: 2vw 2vw;
    font-size: 5w;
} */

/*  BUTTONS  -------------------------------------------------------------------------------- */
nav > .button {
    width: 30%;
    font-size: 3.5vw;
}
.button {
    width: 60%;
    padding: 2%;
    border: 1vw solid var(--main-teal-color);
    background-color: #262626;
    color: #ffffff;
    border-radius: 2vw 2vw;
    font-size: 5vw;
}
.button:hover{
    background-color: var(--main-teal-color);
    color: white;
    box-shadow: 0 0px 10px -2px white;
    border-color: var(--main-black-color);
    font-weight: 600;
}
input[type="submit"]:hover{
    box-shadow: 0 0px 10px 0px var(--main-grey-color);
}
.header_icons{
    cursor: pointer;
    width: 2.6em;
}
/* LOGO HOME  --------------------------------------------------------------------------------- */
.main_logo {
    width: 30%;
}
.logo_wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--main-teal-color);
    font-style: italic;
    width: 90%;
    margin-bottom: .9em;
    margin-top: .9em;
}
.logo_wrapper > h1 {
    font-family: "Moirai One";
    font-size: 10vw;
    margin: 6px 0;
}
/* FOOTER ----------------------------------------------------------------------------------- */
footer > div > p {
    font-size: 4vw;
    width: 90%;
    color: white;
    text-align: justify;
    margin: 2px 0 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer_containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons_footer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 6px 0;
}
.icons_footer > img{
    width: 12%;
}
/* ------------------- */
.objectKey{
    border-bottom: #00D09C 1.4px solid;
    margin-bottom: 2px;
    width: 40%;
    color: var(--main-grey-color);
    font-weight: 700;
}
.objectValue{
    margin-top: 9px;
    padding: 0 0 0  20px;
}